<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" title="" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css" type="text/css" media="screen" title="" charset="utf-8">
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="" charset="utf-8">
    <title>Hitch Hiker's Guide</title>
  </head>
</html>
<body id="">
  <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Hitchhiker's Guide to the Galaxy</a>
          </div>
        </div>
      </div>
  <div role="main" class='container'>
    <%= yield %>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41084653-1', 'hitchhikersgui.de');
    ga('send', 'pageview');

  </script>
</body>