<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="" charset="utf-8">
    <title>Hitch Hiker's Guide</title>
  </head>
</html>
<body id="">
  <img src='/images/logo.png' id='logo'/>
  <%= yield %>
</body>